-r requirements.in

# Formatting
black>=24.8,<25.0
isort>=5.13,<6.0

# Linting
flake8>=7.1,<8.0
flake8-bugbear>=24.8,<25.0
flake8-comprehensions>=3.14,<4.0

# Typing
mypy>=1.11,<2.0
django-stubs>=5.0,<6.0
djangorestframework-stubs>=3.15,<3.16

# Tests
pytest>=8.3,<9.0
pytest-django>=4.8,<5.0
